<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      {% if page.permalink != '/' %}
        <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
          {% if site.title == 'blank' %}
            {% if site.first_name %}
              {{- site.first_name -}}
            {% endif %}
            {% if site.middle_name %}
              {{- site.middle_name -}}
            {% endif %}
            {% if site.last_name %}
              <span class="font-weight-bold">
                {{- site.last_name -}}
              </span>
            {% endif %}
          {% else %}
            {{- site.title -}}
          {% endif %}
        </a>
      {% elsif site.enable_navbar_social %}
        <!-- Social Icons -->
        <div class="navbar-brand social">{% include social.liquid %}</div>
      {% endif %}
      <!-- Modified Navbar Toggle -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu <!-- Simple text replacing the default icon -->
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- Navigation items remain unchanged -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Other header content remains unchanged -->
</header>
