---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
       {{ site.first_name }} {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
  
  <style>
    .about-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .about-content {
      flex-grow: 1;
      margin-right: 20px;
    }
    
    .about-profile {
      margin-left: 20.5px;
      width: 24%;
      flex-shrink: 0;
    }
    
    .about-profile-mobile {
      width: 100%;
      margin-top: 20px;
    }
    
    .desktop-only {
      display: block;
    }
    
    .mobile-only {
      display: none;
    }
    
    @media (max-width: 768px) {
      .desktop-only {
        display: none;
      }
      
      .mobile-only {
        display: block;
      }
      
      .about-container {
        flex-direction: column;
      }
      
      .about-content {
        margin-right: 0;
        margin-bottom: 20px;
      }
      
      .about-profile-mobile img {
        width: 100%;
        height: auto;
      }
    }
  </style>
  
  <div class="about-container">
    <div class="about-content"> 
      {{ content }}
    </div>
    {% if page.profile %}
      <div class="about-profile desktop-only"> 
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% assign profile_image_class = 'img-fluid' %}
          {% capture sizes %}(min-width: {{site.max_width}}) 21vw, 21vw{% endcapture %}
          {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  
  {% if page.profile %}
    <div class="about-profile-mobile mobile-only">
      {% if page.profile.image %}
        {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
        {% assign profile_image_class = 'img-fluid' %}
        {% capture sizes %}100vw{% endcapture %}
        {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
      {% endif %}
      {% if page.profile.more_info %}
        <div class="more-info">{{ page.profile.more_info }}</div>
      {% endif %}
    </div>
  {% endif %}
</div>
